html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}

body {
  margin: 0 auto;
  width: 90%;
  max-width: 1240px;
  font-family: 'Roboto', sans-serif;
  background-color: #6fbd8d;
  color: black;
}
h1 {
  font-size: 56px;
  font: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  padding: 30px;
  color: white;
}

h5 {
  font-size: 20px;
}

h5, h6 {
  margin-bottom: 10px;
}

.gallery-filter {
    display: flex;
}

.gallery-filter h1 {
    flex-grow: 1;
}

.sort {
    display: flex;
    align-self: flex-end;
    padding: 10px;
}

.gallery-sort {
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.gallery-sort label {
  margin-bottom: 10px;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.image-card {
    padding: 0.5%;
    flex: 1 19%;
    background-color: white;
    margin: 5px;
}

.photo img {
    max-width: 100%;
}

.photo-info {
    margin-top: auto;
    padding-top: 20px;
    text-align: center;
}

@media (max-width: 920px) {
    .image-card {
        flex: 1 24%;
    }
}

@media (max-width: 600px) {
  .image-card {
    flex: 1 49%;
  }
}

@media (max-width: 480px) {
  .gallery-filter {
    flex-direction: column;
  }
  .sort {
    align-self: flex-start;
  }
}